# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# Coursework
coursework/build_cluster/

# Celery
celery/dump.rdb
celery/__pycache__/

# Ansible
ansible/__pycache__/generate_inventory.cpython-39.pyc
