# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# Coursework
coursework/build_cluster/
coursework/new_test.fa

# Celery
celery/dump.rdb
celery/__pycache__/

# Ansible
ansible/roles/tmp/tasks/main.yaml
