- name: Install Python 3
  ansible.builtin.dnf:
    name:
      - python3-devel
      - python3-pip
      - python3-virtualenv
    state: latest
  become: true
  become_user: root

- name: Create results directory
  ansible.builtin.file:
    path: /home/almalinux/results
    state: directory
    mode: '0755'