- name: Install basic tools
  ansible.builtin.dnf:
    name:
      - vim
      - tmux
      - git 
      - wget
      - unzip
    state: latest
  become: true
  become_user: root

- name: Install enterprise linux
  ansible.builtin.dnf:
    name:
      - epel-release
    state: latest
  become: true
  become_user: root

- name: Install golang
  ansible.builtin.dnf:
    name: golang
    state: latest
  become: true