- name: Download fasta file
  ansible.builtin.get_url:
    url: https://ftp.uniprot.org/pub/databases/uniprot/current_release/knowledgebase/reference_proteomes/Eukaryota/UP000000589/UP000000589_10090.fasta.gz
    dest: /home/almalinux/
    mode: '0644'
    owner: almalinux
    group: almalinux

- name: Unzip fasta file
  ansible.builtin.unarchive:
    src: /home/almalinux/UP000000589_10090.fasta.gz
    dest: /home/almalinux/
    remote_src: true 
