- name: Install enterprise linux
  ansible.builtin.dnf:
    name:
      - epel-release
    state: latest
  become: true
  become_user: root
  
- name: Enable CRB repository
  ansible.builtin.command:
    cmd: dnf config-manager --set-enabled crb
  become: true
  changed_when: false

- name: Install ansible
  ansible.builtin.dnf:
    name:
      - ansible
    state: latest
  become: true
  become_user: root

- name: Copy celery code
  ansible.builtin.copy:
    src: /home/almalinux/ds4eng-cw/celery/
    dest: /home/almalinux/celery
  become: true

- name: Copy experiment ids file
  ansible.builtin.copy:
    src: /home/almalinux/ds4eng-cw/coursework/experiment_ids.txt
    dest: /home/almalinux/experiment_ids.txt
  become: true

- name: Run script to create fasta file
  ansible.builtin.command:
    cmd: python3 /home/almalinux/subset_fasta.py /home/almalinux/experiment_ids.txt
  # CONSIDER INSTALLING CELERY IN A PYTHON VENV
