- name: Enable CRB repository
  ansible.builtin.command:
    cmd: dnf config-manager --set-enabled crb
  become: true
  changed_when: false

- name: Install ansible
  ansible.builtin.dnf:
    name:
      - ansible
    state: latest
  become: true
  become_user: root

- name: Copy celery code
  ansible.builtin.copy:
    src: /home/almalinux/ds4eng-cw/celery/
    dest: /home/almalinux/celery

- name: Make sure coursework directory exists
  ansible.builtin.file:
    path: /home/almalinux/coursework 
    state: directory
    mode: '0755'

- name: Copy experiment ids file
  ansible.builtin.copy:
    src: /home/almalinux/ds4eng-cw/coursework/experiment_ids.txt
    dest: /home/almalinux/coursework/experiment_ids.txt

- name: Copy subset_fasta.py script
  ansible.builtin.copy:
    src: /home/almalinux/ds4eng-cw/coursework/subset_fasta.py
    dest: /home/almalinux/subset_fasta.py

- name: Copy test fasta
  ansible.builtin.copy:
    src: /home/almalinux/ds4eng-cw/coursework/new_test.fa
    dest: /home/almalinux/coursework/new_test.fa

- name: Run script to create fasta file
  ansible.builtin.command:
    cmd: python3 /home/almalinux/subset_fasta.py /home/almalinux/experiment_ids.txt
  args:
    creates: /home/almalinux/coursework/experiment_sequences.fasta
    
  # CONSIDER INSTALLING CELERY IN A PYTHON VENV
