- name: Create python virtual environment
  ansible.builtin.command: python3 -m venv /home/almalinux/venv
  args:
    creates: /home/almalinux/venv/bin/activate
- name: Ensure pip temp/cache dirs exist
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: almalinux
    group: almalinux
    mode: '0755'
  loop:
    - /home/almalinux/pip-cache
    - /home/almalinux/pip-tmp
- name: Install python dependencies to venv
  ansible.builtin.pip:
    virtualenv: /home/almalinux/venv
    name:
      - biopython
      - torch
      - numpy
      - scipy
    state: latest
  environment:
    TMPDIR: /home/almalinux/pip-cache
    PIP_CACHE_DIR: /home/almalinux/pip-cache
  become: true
  become_user: almalinux